html{
    font-size:16px;
    background: url("http://www.s3forums.com/forum/attachments/galaxy-s3-graphics/11454d1399706454-share-your-wallpaper-27123-lagoon-night-1920x1080-beach-wallpaper.jpg"); 
    height:100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


body{
    font-family: 'Noto Serif', serif;
    color:#d1d1d1;
    line-height: 200%;
    /* background-repeat: repeat;  */
}   
    
nav .brand-logo{
   font-size: 2.5rem;
   font-family: 'Vidaloka', serif;
}

.logo{
    height:100px;
}

.row .black{
    padding-left:3rem;
    padding-bottom: 1rem;
}

.artist-input{
    color: white;
}

#genre a{
    margin-bottom:0.5rem;
    margin-right:1rem;
}

.card{
    border: 1px solid #d1d1d1;
}

.card .card-content{
    padding:10px;
    position: relative;
}

.top-img{
    height:80px;
    position:absolute;
    top:-30px;
    left:20px;
    transform: rotate(-90deg);
}

.fav-img{
    height:80px;
    position:absolute;
    top:-30px;
    left:20px;
    transform: rotate(-30deg);
}

.card .card-action .row{
    padding:0px;
    margin:0px;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating){
    color:orange;
}

.card .card-title{
    font-size:28px;
    font-family: 'Vidaloka', serif;
    text-transform: uppercase;
}

.collection .collection-item.avatar{
    min-height:60px;
}

.play{
    color: darkcyan;
}

.play:hover{
    cursor: pointer;
}

.now-play{
    color:red;
}
.embedly-card{
    max-height: 400px;
    /* max-height: 400px; */
}
.card-action p{
    display: block;
    margin:1px;
    /* border:1px solid gray; */
    padding:2px;
    padding-right:10px;
} 

.track:hover{
    cursor: pointer;
    border: 3px solid darkcyan;
}

.youtube-title{
    text-transform: uppercase;
    font-size:15px;
    color:beige;
    text-shadow: 2px 2px black;
    width: 250px;
    margin:0 auto;
}

.artist-tracks, .youtube-vdo{
    height:545px;
}

.artist-tickets{
    height:640px;
}

.googleMap{
   margin: 0 auto 0 auto; 
   padding-bottom:20px;
}

.collection .collection-item.avatar:not(.circle-clipper)>.circle, .collection .collection-item.avatar :not(.circle-clipper)>.circle{
    width:63px;
    height:63px;
}

.artist-thumbnail{
    border:2px solid grey;
}

.bottom-video {
    position: fixed;
    right: 40px;
    margin-left:20px;
    bottom: 0;
    width: 30%;
    color: white;
    text-align: center;
    z-index: 1;
 }
.container{
    width: 90%;
}
 .blockquote{
     position: relative;
 }

 .close{
     position: absolute;
     top:25px;
     right:-10px;
     font-size: 28px;
 }

 .close:hover,.play-track:hover,.artist-redirect:hover{
     cursor: pointer;
 }

 .artist-redirect a, .track-title{
     margin-left:20px;
 }

 /* overwritten */
 .card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating){
     color:#ffab91;
 }

 .fav-link{
     padding:0 50px;
 }

 .fav-link .fa-heart{
     color:red;
 }
.fav-artist-name{
    font-size:15px;
}
 
.fav-artist{
    margin-bottom:15px;
}

.fav-artist-img:hover{
    cursor: pointer;
    border: 2px ridge#ffd8a6;
}

.fav-artist-name{
    text-transform: uppercase;
    color:#ffab91;
}

.fav-artist-name:hover{
    color: #ffd8a6;
    cursor: pointer;
}

.message{
    font-size:20px;
}

 @media screen and (max-width: 600px) {
   .bottom-video{
       width:80%;
       margin-left:0px;
   }
 }

 